<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Help Support Medical Innovation at Upsilon Medical Corporation</h2>
                <hr class="light">
                <p class="text-faded">We have recently incorporated our company after our founder made the choice to commercialize his patent-pending innovative medical device which handles the problem of opioid drug overdose by using the automatic capabilities of a smart, wearable medical device. As we currently pursue capital from investors and FDA approval of our medical device, you can help us reach our funding goals by pre-ordering or making a purchase from our website's online store.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
