<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Help Our Company End Opioid Overdose</h1>
            <hr>
            <p>Our patent-pending medical device uses automation to solve the age-old problem of opioid overdose fatality by improving upon current state-of-the-art for this intervention intervention. Help us prevent opioid overdose deaths by supporting our company's robust and innovatve solution!</p>
            <a href="#products" class="btn btn-primary btn-xl page-scroll">Check out Products</a>
        </div>
    </div>
</header>
