<!-- Title -->
<section id="stock-sale-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Buy Stock Certificate</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
</section>
<!-- Stock Certificate View -->
<section class="no-padding" id="certificate-view">
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <div class="col-lg-8">
                <a href="#" class="certificate-img">
                    <img src="img/stock-certificate.jpg" class="img-responsive" alt="Stock Certificate Preview">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Order
                            </div>
                            <div class="project-name">
                                Company Shares
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <div>
                    <h2>Shares of Company Stock</h2>
                    <p></p>
                </div>
            </div>